@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap");


*{box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold
  ;
}


body {
  background-color: black;
  font-family: "Roboto";
}
header {
  background-image: url(imagenes/11773.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 50px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{font-weight: bold;}


H3{font-size: 1.5em;
font-weight: bold;}

.title_audio{display: flex;
  justify-content: space-between;
  align-items: center;}

nav {
  font-size: 1em;
background-image: url(imagenes/wallpaperbetter.jpg)
; box-sizing: border-box;
background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
margin-top: 10px;
margin-bottom: 10px;}



a {text-decoration: none;
  color: white;
  border-style: double;
  padding: 10px;
  font-size: 1em;
}


a:hover {
  border: 5px white double;
  transform: scale(1.1);
  transition: 0.1s;
  color:white}


section {
  background-image: url(imagenes/11773.jpg);
  box-shadow: inset 0 0 50px;
  background-size: cover;
  width: 50vw;
  height: 83.6vh;
  padding: 10px;
  ;
  font-size: 2em;
  font-weight: bold; 
}

.container_section_aside {display: flex;
justify-content: space-between;}

form{font-size: 0.7em;
border: solid black;
text-align: center;
}





.title_locro_criollo:hover {
  color:VIOLET;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.1s;
}


.subtitle_un_poquito_de_su_historia:hover {
  color:violet;
  font-weight: BOLD;
  font-size: 1.1em;
  transition: 0.1s;
}




.mapa {
  width: 20vw;
  height: 35vh;
}

.container_mapa {
  text-align: center;
}

aside {background-image: url(imagenes/main_image_star-forming_region_carina_nircam_final-5mb.jpg);  box-shadow: inset 0 0 50px;
  background-size: cover;
  width: 49.40vw;
  height: 83S.6vh;
 
}

.container_aside {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  padding: 10px;
}


.list {
  box-shadow: inset 0 0 10px;
  border: double;
  padding: 1vw;
  margin:1vw;
}

.img1 {
  width: 20vw;
  height: 30vh;
  margin:1vw;
  

}

.img1:hover {transform: none;}


.video {
  width: 50vw;
  height: 30vh;
  margin:1vw;

}







.btn:hover{box-shadow: none;
transform: none;
border: 0px;
background-color: black
;}

.btn {background-color: black;
border: none;}

.col-md-6 {background-color: #a83108;
   box-shadow: inset 0 0 100px;
   border: none;
   padding: 0px;
   margin-top: 10px;
   border: solid black 3px;

   
  }

  .img11 {width: 20vw;
  height: 25vh;}

  h2{font-weight: bold;
  font-size: 2em;}
.card-img-top{height: 30vh;}

aside{display: flex;
flex-direction: column;
justify-content: center;
}


.imagenes1{display: flex;
justify-content: space-around;
padding: 10px;}
.imagenes2{display: flex;
  justify-content: space-around;
padding: 10px;}


.card-img-top:hover{transform: none;}



footer {
  background-image: url(imagenes/wallpaperbetter.jpg)
  ;  
  width: 100vw;
  color: white;
background-size: cover;
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  padding: 10px;
  margin-top: 10px;
  }

.footer1 {
  border: solid black;
  text-align: center;
  padding: 5px;
  display: flex;
  border: double;
  align-items: center;
}

.footer1:hover{transform:translateX(20px);
  transition: 1s;}

.footer2 {
  border: double;
  display: flex;
  align-items: center;
  padding: 5px;
}


.footer3 {
  border: double;
  display: flex;
  align-items: center;
  padding: 5px;
}



.ig:hover {
  box-shadow: none;
  border: none;

}

.wp:hover {
  box-shadow: none;
  border: none;

}

.gmail:hover {
  box-shadow: none;
  border: none;

}

.fb:hover {
  box-shadow: none;
  border: none;
}

img:hover {transform: scale(1.5);
  transition: 0.2s ;}

.wp{border: none;}
.fb{border: none;}
.ig{border: none;}
.gmail{border: none;}














@media (max-width: 1800px)
{.container_section_aside {display: flex;
flex-direction: column;
}}




@media (max-width: 1800px)
{nav {display: flex;
flex-direction: column;
}}

@media (max-width: 1800px)
{a {width: 100%;
text-align: center;}}


@media (max-width: 1800px)
{aside {width: 100%;
height: auto;
margin-top: 10px;}}



@media (max-width: 1800px)
{.container_aside {flex-direction: column;
align-items: center;
;}}

@media (max-width: 1800px)
{section {width: 100vw;
display: flex;
flex-direction: column;
height: auto;}}

@media (max-width: 1800px)
{.mapa {width: 70vw;
  height: 30vh;
}}

@media (max-width: 1800px)
{.list {width: auto;
height: auto ;
margin: 5vw;}}

@media (max-width: 1800px)
{.list {width: 90vw;
height: auto;

margin: 5vw;} }

@media (max-width: 1800px)
{.img {width: 90vw;
height: auto ;
margin: 5vw;}}



@media (max-width: 1800px)
{footer {display: flex;
flex-direction: column;
height: auto;}}

@media (max-width: 1800px)
{footer {display: flex;
flex-direction: column;
height: auto;
padding: 2vw;}} 

@media (max-width: 1800px)
{.footer1 { display: flex;
justify-content: center;
margin: 2px;
height:12vh}}

@media (max-width: 1800px)
{.footer1:hover { transform: none;
  box-shadow: inset 0 0 50px;
  transition: 0.2s;
  border: 5px double black
;}}

@media (max-width: 1800px)
{.footer2 { 
display: flex;
flex-direction: column;
margin: 2px;
height:12vh}}

@media (max-width: 1800px)
{.footer3 { 
display: flex;
flex-direction: column;
margin: 2px;
height:12vh ;}}

@media (max-width: 1800px)
{.fb:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}
@media (max-width: 1800px)
{.ig:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}
@media (max-width: 1800px)
{.wp:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}

@media (max-width: 1800px)
{.gmail:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}

@media (max-width: 1800px)
{.container_nav:hover{
transform: none;
}}

@media (max-width: 1800px)
{.container_nav{
margin: 2px;
}}


@media (max-width: 1800px)
{.formulario{
  margin-top: 15px;
  width: auto;
  text-align: center;
  margin-left: 0%;
  
}}

@media (max-width: 1800px)
{.form1{
 display: flex;
 justify-content: center;
  
}}


@media (max-width: 1800px)
{.title_locro_criollo:hover{
 font-size: 1em;
 color:black
  
}}



@media (max-width: 1800px)
{.subtitle_un_poquito_de_su_historia:hover{
 font-size: 1em;
 color:black
}}

@media (max-width: 1800px)
{span:hover{
 font-size: 1em;
 color: black;
}}


@media (max-width: 1800px)
{.img1{width: 90vw;
}}

@media (max-width: 500px)
{.video {display: none;}}

@media (max-width: 500px)
{.img_locro {width: 90vw;
  height: 40vh;
margin-bottom: 10px;}}


@media (min-width: 500px)
{.img_locro {display: none;}}


@media (max-width: 500px)
{.img_locro:hover {transform: none;}}


@media (max-width: 1800PX)
{.imagenes1 {display: flex;
flex-direction: column;
justify-content: space-between
;align-items: center;}}


@media (max-width: 1800PX)
{.imagenes2 {display: flex;
flex-direction: column;
justify-content: space-between
;align-items: center;}}


@media (max-width: 1800PX)
{.img11 {margin-bottom: 20px;

width: 70vw;}}

@media (max-width: 1800PX)
{.img11:hover {transform: none;}}


@media (max-width: 1800PX)
{h1 {font-size: 4em;
text-align: center;}}


